@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website is for managing your own personal database of beverages. You can add new items, edit existing ones, and even delete items you don't want anymore.<br>Click the Beverages tab to get started!</p>
