@{
    ViewBag.Title = "About";
}
<div class="about-page">
<h2>@ViewBag.Title.</h2>
<h3>What is this website for?</h3>

<p>This website is for managing your own personal database of beverages.<br>
    You can add new items, edit existing ones, and even delete items you don't want anymore.<br>Click the Beverages tab to get started!</p>
</div>