@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contect Page for your beverage manager</h3>

<address>
    On a normal street<br />
    Somewhere in the Northern U.S...<br />
    <abbr title="Phone">P:</abbr>
    1-855 955-2999
</address>

<address>
    <strong>Support:</strong>   <p class="support">You will find no help here...</p><br />
    <strong>Marketing:</strong> <p> We don't actually have a Marketing Department</p>
</address>